body {
  font-family: Arial, sans-serif;
  background-color: #3c3c3c;
  margin: 0;
  padding: 0;
}
.spotifylogo {
  height: 160px !important;
  width: 160px !important;
}
header {
  

  text-align: center;
  padding: 20px;
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}




.App {
  color:rgb(175, 173, 173);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #73836c;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin: 50px;
  padding: 50px;
  /* background-color: #ffffff; */
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  /* Set the container height to 100% of the viewport height */
}
h1{
  text-align: center;
}
.artisturl{
  font-size: 22px;
  text-decoration: none;
}

.artisturl:hover{
  text-decoration: underline;
}
.buttonwrapper {
  display: flex;
  gap: 50px; /* Adjust the gap between buttons */
  margin-top: 20px; /* Add top margin to the button wrapper */
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
}



button {
  border: 2px solid;
  
  padding: 10px 20px;
  
  margin: 0 10px;
  cursor: pointer;
  border-radius: 7px;
  
}

button:hover {
  
  font-size:16px;
}


.buttonwrapper button.active {
  background: #1ed05c;
  font-size:18px;
  font-weight:bold;
  transform: scale(1.3);
 
  
  /* Add any adßditional styles for the active button here */
}

